@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow: overlay;
}

.container {
  width: 83.34%;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background-image: url("../images/background.webp"),
    linear-gradient(180deg, #474ab6 0%, #9271f6 100%) !important;
  background-blend-mode: overlay;
  background-size: cover;
}
